<h2 class="title"><%="Discounts!!!"%></h2>
<div><%= image_tag "discount.jpeg"%></div>
<table>
  <thead>
    <tr>
      <th>Supermarket</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <%@supermarkets.each do |market| %>
        <td>
          <div>
            <h4><%= market.name %></h4>
            <ul>
              <%if !get_products_on_sale(market.pricemeasures).empty?%> 
                <% market.pricemeasures.each do |pm| %>
                    
                  <%if !pm.product.nil?%>
                    <li>
                      <span><%= pm.product.name %></span>
                      <span> <%= pm.price %></span>
                    </li>
                  <%end%>       
                <%end%>
              <%end%>
            </ul>
          </div>
        </td>
      <%end %>
    </tr>
  </tbody>
</table>
