<div class="col-md-7">
  <ul>
	 	<% @pricemeasures.each do |pricemeasure| %>  
	    <li class="list-group-item">
	    	<%= pricemeasure.product.name %>
	    	<span class="badge">
	    		<%= pricemeasure.price %> &#8364
	    	</span>
	    </li> 
		<%end %>
	</ul>
</div>
<div>
	<%=link_to discount_supermarket_path(@supermarket.id) do%>
			<%= image_tag "discount.jpeg", size: '300x150'%>
	<%end%>
</div>

<%=will_paginate @pricemeasures %>
