<h1 class='title'>Pricemeter</h1>
<div class="row">
	<div class="col-md-5">
		<%= image_tag 'prices.jpeg', size: "350x350" %> 
	</div>
	<div class="col-md-5", id="markets">
		<%=render 'supermarkets/list' %>
	</div>
	<div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><%= image_tag 'roda.jpeg', size: "150x150" %> </li>
				<li><%= image_tag 'maksi.jpeg', size: "150x150"%> </li>
				<li><%= image_tag 'voli.jpeg', size: "150x150"%></li>
			</ul>
		</div>
	</div>

</div>