<h1 class="shopping">Shopping list</h1>

<div class="col-md-3">
  <div class="list-group">

	Choose the list:
	<table>
    <tr>
    	<% @lists.each do |l| %>
    	  <td><%= link_to l.name, listitems_path(selected_list: l.id), class: "list-group-item"%></td>
    	<% end %> 
	 </tr>
  </table>

	<h4>Products will be added to your <%=@list_selected.name%><h4>
	<ul>
		<%@selected_products.each do |p| %>
			<li class="enlist"><%=p.name%> <%=link_to " [-]", destroy_listitems_path(product_id: p.id, list_id: @list_selected.id, user_id: current_user.id), method: 'delete',
           id: "Remove#{p.id}"%></li>
    <%end%>
	</ul>
  <%=link_to " Show me the prices", calculate_listitems_path(products: @selected_products), id: "prices"%>
	</div>

	<div class="span8">
		<h1>Products</h1>
    <%=render 'products/search_products'%>
    <%if @products.empty?%>
      <%=render partial: 'products/make_a_suggestion', object:  @suggestion%>
    <%else%>
      <%=render partial: 'list_products', object: [@products, @list_selected]%>
    <%end%>
    <br>
  </div>
</div>