<h1 class='title'>Pricemeter</h1>

 <%= image_tag 'prices.jpeg'  %> 

<ul>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "logout") %>  
  </li>
  <li>
  <%= link_to('Create Shopping List', listitems_path,  class: "shopping")%> 
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path, class: "login")  %>  
  </li>
<% end %>
	<li>
  <%= link_to('Show Products', products_path)  %>  
  </li>

  <li>
  <%= link_to('Discounts', supermarkets_path)  %>  
  </li>
</ul>

