<%= form_tag upload_pricemeasure_imports_path, method: :put do %>
	<%=label_tag 'barcode' %>
	<%=label_tag 'price' %>
	<%=label_tag 'discount' %>
	<%=label_tag 'measured_at' %>
	<br>
	<% @results.each do |record|%>
	<h1><%=record[:bar_code]%></h1>
		<%= fields_for 'records[]', record do |f| %>
			<%if !record.errors.empty? %>
				<div id="error_explaination">
					<h2><%= pluralize(record.errors.count, "error")%> prohibited this procemeasure from being saved: </h2>
					<ul>
					<%record.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<%end%>
					</ul>
				</div>
			<%end%>
			<h1><%=record[:bar_code]%></h1>
			<%= f.text_field :bar_code%>
			<%= f.hidden_field :supermarket_id%>
			<%= f.text_field :price %>
			<%= f.text_field :discount%>
			<%= f.text_field :measured_at%>
		<% end %>
		<br>
	<% end %>
	<div class="buttons"><%= submit_tag "Submit" %></div>
<%end%>

