<h3><%="Prices for #{@product.name}"%></h3>
<div class="col-md-12">
  <div class="col-md-3",  id='product'>
    <%= image_tag @product.image.url(:thumb)%>
     <div>
     <%= render 'statistics_by_year', locals: {market: @market} %>
  </div>
  </div>
 
  <% @supermarkets.each do |market| %>
    <div class="col-md-3">
      <h4><%= market.name %></h4>
      <ul>
          <li class="list-group-item"><%= @pricemeasures.descending.by_market(market).first.price %>
            <span class="badge">&#8364</span>
          </li>
          <% @market = market %>
          <%= render 'statistics_by_month', locals: {market: @market} %>
      </ul>

    </div>
  <% end %>
  <div id="products_chart" class="col-md-9">
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function(){
    new Highcharts.Chart({
      chart: {
        renderTo: "products_chart"
      },
      title: {
        text: "Products in Supermarkets"
      },
      xAxis: {
        type: "datetime"
      },
      yAxis: {
        title: {
          text: "Prices"
      }
    },
  
    series: [
      <% @supermarkets.each do |market| %>
        {
        name: "<%= market.name %>",
        pointInterval: <%=1.week * 1000 %>,
        pointStart: <%= 4.weeks.ago.to_i * 1000 %>,
        data: <%= (2.weeks.ago.to_date..Date.today).map {|date| Pricemeasure.by_market(market).price_for(params[:id].to_i, date).to_f} %>
        
        <% if market == @supermarkets.last %>
          }
        <% else %>
          },
        <% end %>

      <% end %>

    ]
    });
  });
</script>

