<!DOCTYPE html>
<html>
<head>
  <title>Pricemeter</title>
	  <%= stylesheet_link_tag "application", media: "all"%>
		<%= javascript_include_tag "application"%>
		<%= csrf_meta_tags %>
</head>
<%= render 'shared/header' %>
<body>
	<%=render 'shared/notice'%>
	<%= yield %>

</body>

<%= render 'shared/footer' %>
</html>
