<!DOCTYPE html>
<html>
<head>
  <title>Pricemeter</title>
	  <%= stylesheet_link_tag "application", media: "all"%>
		<%= javascript_include_tag "application", "jquery-1.4.2.min", "rails", "highcharts"%>
		<%= csrf_meta_tags %>
</head>
<%= render 'shared/header' %>
<body>
	<%=render 'shared/notice'%>
	<%= yield %>

</body>


</html>
